@import 'styles.css';
@import url('izitoast/dist/css/iziToast.min.css');
@import url('./iziToastOverrides.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 360px;
  /* height: 100vh; */
}
